@import "tailwindcss";

:root {
  --background: #fdf2f8; /* pink-50 */
  --foreground: #831843; /* pink-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dancing: var(--font-dancing);
  --font-lora: var(--font-lora);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
